<%- include('../partials/head.ejs') %>
<!-- <script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script> <script type="text/javascript">
    //<![CDATA[
            bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
      //]]>
      </script> -->
      <script src="/tinymce/js/tinymce/tinymce.min.js"></script>
      <script>tinymce.init({
        selector:'#criarArtigo',
      });
        
        </script>
<body>
    <%- include('../partials/navbar.ejs') %>
    <div class="container">
        <br>
        <div class="card">
            <div class="card-header">
                <h2>Editar artigo</h2>
                <a href="/admin/categorias"><button class="btn btn-primary btn-sm">Lista de Categorias</button></a>
                <a href="/admin/artigos"><button class="btn btn-primary btn-sm">Lista de Artigos</button></a>
            </div>
            <form method="POST" action="/admin/artigo/edite?_method=PUT">
                <div class="card-body">
                    <%if(erro == 0){%>
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong>Edição concluida! </strong>Dados salvos com sucesso!
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                    <%}%>
                    
                    <label>Defina o titulo do artigo</label>
                    <input class="form-control" type="text" value="<%=artigo.titulo%>" name="titulo" placeholder="Defina o título do artigo aqui">
                    <br>
                    <input type="hidden" name="id" value="<%=artigo.id%>">
                    <label>Defina o conteudo do artigo</label>
                    <textarea id="criarArtigo" class="form-control" placeholder="Crie o conteudo do seu artigo aqui..." name="body"><%=artigo.corpo%></textarea>
                    <label>Selecione a categoria do artigo</label>
                    <select name="categoriaArtigo" class="custom-select custom-select-sm">
                        <%cat.forEach((itemSelect)=>{%>
                          <%if(itemSelect.id == artigo.categoriaId){%>
                            <option value="<%=itemSelect.id%>" selected><%=itemSelect.titulo%></option>
                          <%}else{%>
                            <option value="<%=itemSelect.id%>"><%=itemSelect.titulo%></option>
                          <%}%>

                        <%})%>
                    </select>
                </div>
                <div class="card-footer">
                    <button class="btn btn-success">Salvar edição</button>
                </div>
            </form>
        </div>
    </div>
</body>


<%- include('../partials/rodape.ejs') %>